@media (max-width: 767px) {
    .lw_form_main form .input_frm {
        width: 100%!important;
        margin-bottom: 7px
    }
    .lw_form_main form .submit_frm {
        width: 100%
    }
    .active a:after {
        visibility: hidden;
    }
    .right_lawyer_img {
        padding-top: 35px
    }
    .lw_crousel_section .bx-wrapper .bx-prev {
        left: 0
    }
    .attorney_img_wrap {
        margin-bottom: 25px
    }
}
@media (min-width: 768px) {
    .address_sec {
        float: right
    }
    .lw_slider_form_wrap {
        margin-top: -129px
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .blog_post_time {
        padding: 2px 9px!important
    }
    .blog_post_time h3 {
        font-size: 15px
    }
    .home_main_wrape .attorney_img_wrap p {
        line-height: 24px;
    }
    .submit_frm {
        font-size: 10px
    }
    .top_contact_area .mob_no {
        font-size: 20px
    }
}
@media (max-width: 992px) {
    .counter_wrapper {
        text-align: center
    }
}
@media (min-width: 1200px) {
    .right_lawyer_img img {
        position: absolute;
    }
    .padd_left {
        padding-left: 8px
    }
    .top_margin {
        margin-top: 57px;
        position: relative;
        top: 64px;
        right: -77.4%;
    }
    .history_bg_blue.home_wrap_main {
        padding-bottom: 17px;
    }
    .lw_address_sec p {
        padding-left: 40px
    }
}
@media (max-width: 1200px) {
    .top_margin {
        float: left;
        margin-top: 25px
    }
}
@media(max-width:979px) {
    .crousel_item .bx-wrapper .bx-prev {
        left: 0
    }
}
@media (max-width: 767px) {
    .top_contact_area {
        margin-bottom: 30px
    }
    .lw_wrapper_top_bar_main,
    .lw_wrapper_top_bar {
        text-align: center
    }
    .top_contact_area .call_icon {
        float: none!important
    }
    .top_contact_area .mob_no {
        top: 0!important;
        float: none
    }
    .practice_post_wrapper {
        text-align: center
    }
    .practice_post_wrapper img {
        margin: 0 auto
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .img_overlay_inner p {
        padding: 8px 4px !important;
        font-size: 11px;
        line-height: 15px;
        height: 50px;
        overflow: hidden;
        margin-bottom: 13px;
    }
    .contact_wrape_box {
        min-height: 206px!important
    }
    .testimonial_wrap_main_second .testimonials_second_img img {
        width: 100%
    }
}
@media ( max-width: 991px) {
    .contact_wrape_box {
        text-align: center
    }
    .lw_form_heading h2 {
        font-size: 20px
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .lw_second_nav_wrapper .lw_navigations ul li {
        padding: 17px 4px!important
    }
    .lw_navigations ul.menu > li > a {
        font-size: 14px;
    }
	.lw_attroney_second .attroney_desc {
		padding: 0px;
	}
	
    .lw_attroney_second .attroney_desc p {
		padding-top: 0;
		margin-bottom: 0;
		line-height: 22px;
    }
	
	.lw_attroney_second .hw_attorney_title_wrap h5{
			margin-bottom:5px;
	}
	.attroney_desc .overlay_social {
		padding-top: 15px;
	}
    .lw_navigation_wrapper .lw_navigations ul.menu li {
        padding: 17px 17px;
    }
	
}
@media (min-width: 992px) and (max-width: 1296px) {
#client_testimonial {
		padding: 20px 20px 0px 20px;
	}
}
@media(max-width:991px) {
    .counter_wrapper_second {
        text-align: center
    }
    .right_counter_details .timer {
        margin-top: 20px!important;
        padding-bottom: 8px
    }
    .lw_mission_section {
        padding: 87px 0!important
    }
    .square_thumb .read_more_orange {
        float: none;
		text-align:center;
		display:inline-block;
    }
}
@media(min-width:992px) {
    .left_side_vision_img img {
        margin-top: -67px
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .img_overlay_inner p {
        padding: 12px 0!important;
        font-size: 13px!important;
        line-height: 24px
    }
    .lw_blog_img_wrapper img {
        width: 100%
    }
    .lw_recent_blog_wrapper .lw_blog_description p {
        margin: 0;
        line-height: 23px
    }
    .lw_img_overlay {
        height: 50%;
        top: 50%
    }
}
@media (min-width: 768px) {
    .testimonial_slider_content p:before {
        left: -50px;
        top: 0
    }
    ul.footer_menu li {
        float: left;
        width: 50%
    }
    .lw_top_bar_right .lw_consultance {
        text-align: right
    }
}
@media (max-width: 767px) {
	.history_bg_blue .lw_heading_middle {
		line-height: 24px;
	}
    .lw_footer_section {
        text-align: center
    }
    .testimonial_slider_content p:before {
        top: -11px;
        left: 0
    }
    .lw_recent_blog img,
    .left_author_thumb img {
        margin: 0 auto
    }
    .testimonial_wrap_main_second {
        text-align: center
    }
    .attorney_img img {
        width: 100%
    }
    .lw_testimonials_desc p:before {
        left: 0;
        top: 7px;
    }
}
@media(min-width:1200px) {
    #testimonial_slide .owl-pagination {
        width: 77%
    }
    .fixed_menu,
    .fixed_menu_second {
        position: fixed !important;
        z-index: 999;
        perspective: 400px;
        top: 0 !important;
        -webkit-animation: fixed_menu_animation .3s;
        -moz-animation: fixed_menu_animation .3s;
        -ms-animation: fixed_menu_animation .3s;
        -o-animation: fixed_menu_animation .3s;
        animation: fixed_menu_animation .3s
    }
    .fixed_menu {
        box-shadow: 0 1px 7px #9E6B05
    }
    .fixed_menu_second {
        background: #0a6e9f;
        box-shadow: 0 1px 7px #055075
    }
}
@-webkit-keyframes fixed_menu_animation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fixed_menu_animation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@media (max-width: 480px) {
    .lw_recent_blog .col-xs-4,
    .lw_recent_blog .col-xs-8 {
        width: 100%;
        text-align: center
    }
    .lw_recent_blog_content {
        margin-top: 20px
    }
    .error_message h1 {
        font-size: 110px
    }
}
@media (max-width: 567px) {
    .big_phone_number {
        padding-top: 48px!important
    }
}
@media (min-width: 321px) and (max-width: 567px) {
    .big_phone_number {
        font-size: 40px!important;
        padding-top: 48px!important
    }
}
@media (max-width: 320px) {
    .error_page .read_more_orange a {
        padding: 0px 27px;
    }
    .big_phone_number {
        font-size: 25px!important
    }
    .lw_blog_sharing .share_article {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        padding-right: 0
    }
    .lw_blog_sharing,
    .blog_buttons {
        text-align: center
    }
    .blog_buttons a {
        float: none;
        display: inline-block;
        margin-bottom: 10px
    }
}
@media (max-width: 240px) {
    .more_questions .any_more_tag {
        position: relative;
        font-size: 17px
    }
    .lw_contact_right_detalis p {
        font-size: 13px
    }
}
@media (min-width: 520px) and (max-width: 767px) {
    .lw_traingle_footer:before {
        left: 0
    }
}
@media (min-width: 768px) {
    .lw_traingle_footer:after {
        top: 50%;
        right: 0;
        bottom: 0
    }
    .lw_traingle_footer:before {
        top: -76%;
        left: -52%
    }
    .lw_wrapper_top_bar .lw_address_sec p {
        text-align: right
    }
    .submit_btn {
        width: 135px!important;
        float: right!important;
        right: -35px;
        top: 28px;
        padding: 15px!important
    }
}
@media (max-width: 767px) {
    .contact_wrape_box,
    .hw_box_wrap.box_wrap_main {
        margin-bottom: 20px
    }
    .testimonials_second_img img {
        margin: 0 auto
    }
    .lw_form_heading h2 {
        line-height: 13px!important
    }
    .lw_slider_form_bg {
        padding: 1px 15px 0;
        color: #fff
    }
    .lw_traingle_footer:before,
    .lw_traingle_footer:after {
        display: none;
    }
}
@media (max-width: 480px) {
    .frm_txt_area {
        height: 30px!important
    }
    .contact_wrape_box i.fa {
        font-size: 30px!important
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .lw_blog_description p {
        line-height: 24px
    }
    .lw_blog_description .blog_readmore {
        margin-top: 0
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .right_side_details_practice .practice_title {
        padding: 0 0 19px!important
    }
    .lw_mission_lists ul li {
        line-height: 28px!important;
        font-size: 13px!important
    }
    .right_side_details_practice .lw_mission_lists {
        padding-top: 0!important
    }
   
}
@media (max-width: 767px) {
    .tab-horiz .hw_thumb_title h5 {
        font-size: 9px
    }
    .lw_practice_desc .read_more_orange {
        margin-top: 29px
    }
    .lw_button {
        margin-top: 14px
    }
	.square_thumb {
        padding-top: 15px!important
    }
}
@media (max-width: 480px) {
    .blockquote_slider i.fa {
        font-size: 15px
    }
    .blockquote_slider .item p {
        padding: 0 20px
    }
}
@media (max-width: 520px) {
    .lw_recent_blog_wrapper .col-lg-4,
    .lw_recent_blog_wrapper .lw_blog_description {
        width: 100%;
        margin-bottom: 11px
    }
}
@media (max-width: 320px) {
    .top_contact_area .mob_no {
        font-size: 15px
    }
}
@media ( max-width: 767px) {
    ul.thumbnail_slider li img {
        width: 100%!important
    }
    .submit_btn {
        width: 100%!important;
        margin-top: 5px;
		padding: 15px!important
    }
    .form_wrapper_main .lw_form_heading {
        width: 100%;
        float: left;
        padding: 15px 30px;
        text-align: center
    }
    .form_wrapper_main {
        padding-bottom: 8px
    }
}
@media (max-width: 600px) {
    .lw_slider_form_bg input {
        font-size: 9px;
        padding: 0
    }
    .frm_txt_area {
        font-size: 9px
    }
    .lw_form_heading h2 {
        font-size: 10px;
        margin-bottom: 0
    }
    .heading_sub_title {
        font-size: 8px
    }
    .form_wrapper_main .lw_form_heading {
        padding: 5px 30px
    }
}
@media (max-width: 240px) {
    .slider_form {
        position: relative;
        top: 20px;
        transform: inherit;
        -webkit-transform: inherit;
        -moz-transform: inherit;
        -ms-transform: inherit;
        -o-transform: inherit
    }
    #slider_form_top {
        width: 100%
    }
}
@media ( max-width: 767px) {
    .tab .tab-legend li.col-xs-2 {
        padding: 0
    }
    .tab .tab-legend li:first-child {
        padding-left: 15px
    }
    .tab .tab-legend li:last-child {
        padding-right: 15px
    }
    .tab .tab-legend li .hw_thumb svg {
        height: auto;
        width: 40%
    }
    .tab .tab-legend li .hw_thumb {
        padding: none;
        height: 90px
    }
    .lw_bottom_description {
        padding-top: 0
    }
}
@media(min-width:768px) and (max-width:991px) {
    .tab-horiz .tab-legend li {
        padding: 5px;
    }
    .tab-horiz .tab-legend li:first-child {
        padding-left: 15px;
    }
    .tab-horiz .tab-legend li:last-child {
        padding-right: 15px;
    }
}
@media ( max-width: 500px) {
    .tab-horiz .hw_thumb_title h5 {
        display: none
    }
    .tab-horiz .hw_thumb_title {
        padding: 5px 0;
        border-bottom: none
    }
}
/*------navigation menu css-----*/

@media (max-width: 991px) {
    .lw_navigations .navbar-form {
        float: left;
        width: 100%;
        padding-top: 15px;
        margin-top: 0;
        margin-bottom: 12px;
        padding-left: 0px;
    }
    .lw_navigations ul.menu li {
        display: block!important;
        padding: 0!important;
        border-right: none!important
    }
    .lw_navigations ul.menu {
        text-align: left!important;
        float: left;
        width: 100%
    }
    .sub-menu {
        position: relative!important;
        background: none!important;
        top: 0!important;
        width: 100%;
        float: left
    }
    .lw_navigations ul.menu > li > a {
        font-weight: 700!important
    }
    .lw_navigations ul.menu > li > a,
    ul.sub-menu li a {
        float: left;
        width: 100%;
        border-bottom: 1px solid #fff;
        padding: 12px 0
    }
    .lw_navigations {
        position: absolute;
        z-index: 111;
        margin-top: 60px;
        width: 100%;
        opacity: .88;
        left: 0;
    }
    .lw_navigation_wrapper .lw_navigations {
        background: #c80
    }
    .navbar-toggle {
        display: block;
    }
    .input_grp {
        width: 100%;
        border-bottom-color: #fff;
    }
}
@media (min-width: 992px) {
    .lw_navigations ul li:hover .sub-menu li a {
        border-bottom: none;
        opacity: inherit
    }
    .lw_navigations ul li:hover a {
        border-bottom: 2px solid;
    }
    .lw_second_nav_wrapper {
        position: absolute;
        top: 98px;
        z-index: 999
    }
    ul.menu > li:hover .sub-menu {
        opacity: 1
    }
    .sub-menu {
        opacity: 0;
        visibility: hidden;
    }
    ul.sub-menu li {
        border-bottom: 1px solid #fff;
        border-right: none!important
    }
    ul.sub-menu li:last-child {
        border-bottom: none;
    }
    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }
}
@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }
	
	.lw_recent_blog_wrapper:first-child {
		padding-top: 0px;
	}
}
button.navbar-toggle i.fa {
    color: #fff;
    font-size: 22px;
}
/*----home3 media queries--*/

@media(max-width:991px) {
    .attorney_img_wrap {
        margin-bottom: 25px
    }
    .lw_recent_blog_wrapper h4 {
		font-family: robotoslab;
		margin-top: 0px;
		margin-bottom: 5px;
	}
}
@media (max-width: 767px) {
    .lw_top_bar_right .top_contact_area_pane {
        text-align: center;
    }
    .top_contact_area_pane i {
        float: none;
        display: inline-block;
    }
    .top_contact_area_pane .call_details {
        float: left;
        width: 100%;
        margin-top: 10px;
    }
    .slider_section_new .slider_details_box_wrap {
        margin-top: 25px;
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    .slider_section_new .slider_details_box_wrap {
        top: 12%;
    }
    .slider_details_box_wrap .triangle_box {
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}
@media(max-width:480px) {
    .lw_middle_buttons a {
        margin-right: 0px;
        margin-bottom: 9px;
    }
    .client_testimonial_img .btn_testimonial h3 {
        color: #ffffff;
        font-family: robotoslab;
        margin-bottom: 0;
        padding: 10px 10px 5px;
        font-size: 12px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .slider_details_box h1 {
        font-size: 24px;
    }
    .slider_details_box:after {
        bottom: -107.2px;
    }
}
@media (min-width: 992px) {
    .practice_area_main .border_box:nth-child(3n) {
        border-right: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .practice_area_main .border_box:nth-child(2n) {
        border-right: none;
    }
	#client_testimonial {
		padding: 50px 70px 30px 45px;
	}
}
@media (max-width: 767px) {
    .practice_area_main .border_box {
        border-right: none;
    }
	#client_testimonial {
		padding: 30px 11px 20px 11px;
	}
    .counter_wrapper_main {
        float: left;
        width: 100%;
        text-align: center;
    }
}
@media(max-width:991px) {
    .client_testimonial_img {
        text-align: center;
    }
    .lw_navigation_wrapper_thired {
        background-color: #5b86d4;
        z-index: 9999;
        position: relative;
    }
    .counter_wrapper_main {
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    #client_testimonial .item p {
        padding-top: 0px;
    }
    #client_testimonial .item .bottom_title {
        padding-top: 0;
    }
    #client_testimonial .item i.fa.quote_right {
        font-size: 20px;
        float: right;
    }
    #client_testimonial .item i.fa.quote_left {
        font-size: 25px;
    }
}
@media (min-width: 768px) {
    .lw_navigation_wrapper_thired {
        position: absolute;
        top: 98px;
        z-index: 999;
    }
    .slider_section_new {
        margin-top: 28px;
    }
    .lw_navigation_wrapper_thired ul.menu > li:hover .sub-menu {
        opacity: 1;
        background: rgba(91, 134, 212, 0.81);
    }
}
@media(min-width:1200px) {
    .fixed_menu, .fixed_menu_second {
        position: fixed !important;
        z-index: 999;
        perspective: 400px;
        top: 0 !important;
        -webkit-animation: fixed_menu_animation .3s;
        -moz-animation: fixed_menu_animation .3s;
        -ms-animation: fixed_menu_animation .3s;
        -o-animation: fixed_menu_animation .3s;
        animation: fixed_menu_animation .3s
    }
    .lw_navigation_wrapper_thired.fixed_menu {
        box-shadow: 0 1px 7px #5b86d4;
        background-color: #5b86d4;
    }
}
@media(min-width:992px) {
    .contact_wrape_box .lw_contact_right_detalis {
        padding-left: 10px;
    }
}
@media(min-width:767px) and (max-width:991px) {
    .slider_details_box h1 {
        font-size: 20px;
    }
    .slider_details_box a {
        margin-top: 15px;
    }
    .slider_details_box {
        padding: 30px 30px 0px;
    }
    .slider_details_box:before {
        -webkit-transform: skewy(-8deg);
        -ms-transform: skewy(-8deg);
        -moz-transform: skewy(-8deg);
        -o-transform: skewy(-8deg);
        transform: skewy(-8deg);
        z-index: -1;
    }
    .slider_details_box:after {
        transform: rotate(-8deg);
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        bottom: -97px;
    }
}
@media(max-width:767px) {
    .middle_heading_area p {
        width: 100%;
    }
    .slider_details_box {
        padding: 20px 20px 0px;
    }
    .slider_details_box h1 {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .slider_details_box p {
        font-size: 14px;
        line-height: 25px;
    }
    .slider_details_box a {
        margin-top: 10px;
    }
    .slider_details_box:before {
        -webkit-transform: skewy(-7deg);
        -ms-transform: skewy(-7deg);
        -moz-transform: skewy(-7deg);
        -o-transform: skewy(-7deg);
        transform: skewy(-7deg);
    }
    .slider_details_box:after {
        transform: rotate(-6.9deg);
        -webkit-transform: rotate(-6.9deg);
        -moz-transform: rotate(-6.9deg);
        -o-transform: rotate(-6.9deg);
        -ms-transform: rotate(-6.9deg);
        bottom: -96px;
    }
    .middle_heading_area {
        text-align: center;
        margin-top: 30px;
    }
	
	.triangle_box {
		padding-left: 15px;
	}
}
@media (max-width: 390px) {
    .slider_details_box:after {
        display: none;
    }
    .slider_details_box a {
        padding: 8px 20px;
        font-size: 10px;
    }
}
@media (max-width: 480px) {
    .triangle_box {
        width: 77%;
    }
    .bloq_circle_image {
        padding-left: 0px !important;
    }
}
@media (max-width: 280px) {
    .attorney_img_wrap .overlay_box {
        padding: 27px 30px;
    }
    .overlay_box p {
        padding-top: 10px;
        padding-bottom: 5px;
    }
}
@media (min-width: 1200px) {
    .right_counter_details {
        padding-left: 25px !important;
    }
    .contact_wrape_box {
        padding-right: 65px;
    }
}
@media (min-width: 768px) {
    .form_wrapper_main .lw_form_heading {
        margin-top: -50px;
    }
}
@media (min-width: 1200px) {
    .tag_cloud a:nth-child(3) {
        margin-right: 0;
    }
}
@media (max-width: 1200px) {
    .about_right_part #bx-pager .col-lg-4 {
        margin-right: 3.5%;
    }
}
@media(max-width:767px) {
    .lw_blockqoute_section {
        padding-left: 10px;
    }
	.right_side_details_practice .lw_mission_lists{
			padding-left:0px;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
    .testimonial_wrap_main_second .lw_testimonials_desc {
        padding-left: 15px;
    }
    .attorney_img_wrap .overlay_box {
        padding: 30px 20px;
    }
    .overlay_box p {
        padding-top: 15px;
        padding-bottom: 15px;
    }
	
	
}
@media (max-width: 991px) {
    .lw_mission_lists {
        padding-top: 30px;
    }
	.lw_sidebar.full_width {
		margin-top: 40px;
	}
}

@media (max-width:480px){
	.square_thumb {
			text-align:center;
	}
	.square_thumb .col-lg-3 {
		float: none;
		display: inline-block;
	}
	.square_thumb .btn_right {
	    float: none;
	    }
	.lw_recent_blog_wrapper .blog_thumb_wrap {
		padding-right: 15px;
	}
	.lw_recent_blog_wrapper h4 {
		font-size: 14px;
	}
	.lw_recent_blog_wrapper p {
		line-height: 24px;
		font-size: 13px;
	}

}
@media (max-width:320px){
	.blog_wrapper_first .lw_blog_description {
		float: left;
		width: 100%;
		padding-top: 20px;
	}		
		
}
@media (max-width:240px){
	.square_thumb .col-lg-3:first-child {
		margin-right: 6px;
		margin-bottom: 20px;
	}
}